body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #F5EFFF; /* Background color */
    opacity: 0; /* Start hidden for fade-in effect */
    transition: opacity 0.7s ease-in-out; /* Fade-in transition */
}

.card {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background: rgba(105, 13, 197, 0.103);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
}

.text {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-weight: 900;
    font-size: 1.2em;
}

.subtitle {
    font-size: .6em;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.691);
}

.icons {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 250px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}

.btn {
    border: none;
    width: 84px;
    height: 35px;
    background-color: rgba(247, 234, 234, 0.589);
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-icon {
    width: 25px;
    height: 25px;
    stroke: rgb(38, 59, 126);
}

.btn:hover {
    background-color: rgb(247, 234, 234);
}

.card:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
}

/* Fade-in effect for the card */
body.page-enter {
    opacity: 1; /* Fully visible */
}
.card {
    position: relative;
    width: 300px;
    height: 300px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
}

.background {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 100% 107%, #ff89cc 0%, #9cb8ec 30%, #00ffee 60%, #62c2fe 100%);
}

.logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
}

.logo div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text and span horizontally */
    justify-content: center; /* Center them vertically */
    text-align: center; /* Ensure text is centered */
}

p {
    margin: 0;
    font-size: 31px;
    color: white;
}

span {
    display: block;
    margin-top: 10px;
    font-size: 21px;
    color: white;

}
